html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, logo {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ------------------------------------------- */
/* Global Styles
/* ------------------------------------------- */
body {
  background: white;
  color: #656565;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 300; }

img {
  height: auto;
  max-width: 100%; }

a {
  color: #F3A358;
  -moz-transition: color 300ms;
  -o-transition: color 300ms;
  -webkit-transition: color 300ms;
  transition: color 300ms; }
  a:hover {
    color: #933C60; }

.section-title,
.page-title {
  color: black;
  font-size: 3.75rem;
  font-weight: 200;
  padding-top: 50px;
  padding-bottom: 0px;
  text-align: center; }

.section-subtitle {
  color: black;
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 5.625rem;
  text-align: center; }

.section {
  padding: 5.625rem 1rem; }

.text-content p {
  line-height: 1.6875;
  margin-bottom: 1.6875rem; }
.text-content .cta {
  margin-bottom: 1.6875rem; }
.text-content h3 {
  color: black;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 100px;
  margin: 1.875rem; }
.text-content ul {
  list-style: disc; }
.text-content li {
  line-height: 1.6875;
  padding-top: 50px;
  margin-bottom: 1.6875rem; }
.text-content blockquote {
  color: black;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.35;
  margin: 5rem 3.375rem 0; }
  .text-content blockquote:before {
    border-bottom: 2px solid black;
    content: '';
    display: block;
    margin: 2rem 0;
    width: 3.4375rem; }

/* ------------------------------------------- */
/* Buttons
/* ------------------------------------------- */
.button {
  border: 0 none;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1;
  display: inline-block;
  padding: 0.75rem 2rem;
  text-align: center;
  text-decoration: none;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms; }
  .button.dark {
    background: black;
    color: white; }
    .button.dark:hover {
      background: #F8DB9A;
      color: black; }
  .button.light {
    background: white;
    color: black; }
    .button.light:hover {
      background: #F8DB9A; }
  .button.pale {
    background: white;
    border: 1px solid #d8d8d8;
    color: black; }
    .button.pale:hover {
      border-color: black; }

/* ------------------------------------------- */
/* Site Header
/* ------------------------------------------- */
.site-header-main {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1150px;
  padding: 3.75rem 0.625rem; }
  @media (min-width: 768px) {
    .site-header-main {
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      justify-content: space-between; } }

.site-branding {
  color: black;
  margin-bottom: 2.25rem;
  text-align: center; }
  @media (min-width: 768px) {
    .site-branding {
      margin-bottom: 0.625rem; } }

.site-title {
  font-size: 1.875rem;
  font-weight: 700; }

.site-description {
  font-size: 0.875rem;
  font-weight: 200;
  margin-top: 0.25rem; }

.site-navigation {
  font-size: 1.125rem;
  font-weight: 300;
  text-align: center; }
  .site-navigation li {
    margin-bottom: 0.375rem; }
    @media (min-width: 768px) {
      .site-navigation li {
        display: inline-block; } }
  .site-navigation a {
    color: #989898;
    display: inline-block;
    padding: 0.25rem 0.625rem;
    text-decoration: none;
    -moz-transition: color 300ms;
    -o-transition: color 300ms;
    -webkit-transition: color 300ms;
    transition: color 300ms; }
    .site-navigation a:after {
      border-bottom: 2px solid transparent;
      content: '';
      display: block;
      margin-top: 0.5rem;
      width: 2.3125rem; }
    @media (min-width: 768px) {
      .site-navigation a {
        padding-left: 1.25rem;
        padding-right: 0; } }
    .site-navigation a:hover {
      color: black; }
    .site-navigation a.current-item {
      color: black; }
      .site-navigation a.current-item:after {
        border-bottom-color: black; }

/* ------------------------------------------- */
/* Hero
/* ------------------------------------------- */
.hero {
  margin: 0 auto;
  max-width: 1150px;
  position: relative; }
  .hero .slick-dots {
    bottom: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 4.375rem; }
    .hero .slick-dots li {
      padding: 0.5rem 0; }
      .hero .slick-dots li button {
        background: transparent;
        border: 1px solid white;
        border-radius: 100%;
        cursor: pointer;
        height: 0.875rem;
        overflow: hidden;
        padding: 0;
        text-indent: -9999rem;
        -moz-transition: background 300ms;
        -o-transition: background 300ms;
        -webkit-transition: background 300ms;
        transition: background 300ms;
        width: 0.875rem; }
      .hero .slick-dots li.slick-active button {
        background: white; }

.hero-slide {
  background-image: url("https://64.media.tumblr.com/6bba1985b6a9b25aad12d47c1bae6b60/tumblr_pxpzetVtoe1ys7o03o1_1280.jpg");
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
  padding: 9.375rem 1rem 6.25rem;
  text-align: center; }
  .hero-slide h2 {
    font-size: 3rem;
    font-weight: 700; }
    .hero-slide h2:after {
      border-bottom: 2px solid black;
      content: '';
      display: block;
      margin: 1.875rem auto;
      width: 3.4375rem; }
  .hero-slide p {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.5; }
  .hero-slide .cta {
    margin-top: 5rem; }

.hero-slide.style-1 {
  background: #F8DB9A;
  color: black; }
  .hero-slide.style-1 h2:after {
    border-bottom-color: black; }
.hero-slide.style-2 {
  background: #F3A358;
  color: black; }
  .hero-slide.style-2 h2:after {
    border-bottom-color: black; }
.hero-slide.style-3 {
  background-image: url("https://res.cloudinary.com/taskrabbit-com/image/upload/f_auto,q_auto/jduqhxzkbkfyra4baarl");
  color: white; }
  .hero-slide.style-3 h2:after {
    border-bottom-color: white; }
.hero-slide.style-4 {
  background-image: url("https://res.cloudinary.com/taskrabbit-com/image/upload/f_auto,q_auto/jduqhxzkbkfyra4baarl");
  color: white; }
  .hero-slide.style-4 h2:after {
    border-bottom-color: white; }
.hero-slide.style-5 {
  background-image: url("https://res.cloudinary.com/taskrabbit-com/image/upload/f_auto,q_auto/jduqhxzkbkfyra4baarl");
  color: white; }
  .hero-slide.style-5 h2:after {
    border-bottom-color: white; }

/* ------------------------------------------- */
/* Functions
/* ------------------------------------------- */
.functions .item {
  margin: auto;
  max-width: 1000px; }
  @media (min-width: 768px) {
    .functions .item {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      margin-bottom: 6.25rem;
      margin-top: 6.25rem; } }
  .functions .item:nth-child(odd) {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  @media (min-width: 768px) {
    .functions .item:last-child {
      margin-bottom: 0; } }
.functions figure {
  margin-bottom: 1rem;
  text-align: center; }
  @media (min-width: 768px) {
    .functions figure {
      width: 48.69565%; } }
@media (min-width: 768px) {
  .functions .description {
    width: 42.6087%; } }
.functions h3 {
  color: black;
  font-size: 3rem;
  font-weight: 700; }
  .functions h3 span {
    display: block;
    font-size: 1.875rem;
    font-weight: 300; }
  .functions h3:after {
    border-bottom: 2px solid black;
    content: '';
    display: block;
    margin: 1.875rem 0;
    width: 3.4375rem; }
.functions p {
  line-height: 1.6875;
  margin-bottom: 1.6875rem; }

/* ------------------------------------------- */
/* Team
/* ------------------------------------------- */
.team {
  background-repeat: none;
  background-size: cover;
  color: white;
  text-align: center; }
  .team .team-carousel {
    margin: 0 auto;
    max-width: 1150px;
    position: relative; }
    .team .team-carousel .slick-prev,
    .team .team-carousel .slick-next {
      bottom: 0;
      padding-top: 2.5rem;
      position: absolute;
      top: 0; }
    .team .team-carousel .slick-prev {
      left: 0; }
    .team .team-carousel .slick-next {
      right: 0; }
    .team .team-carousel .slick-dots {
      margin-top: 2rem; }
      .team .team-carousel .slick-dots li {
        display: inline-block;
        margin: 0 0.5rem; }
        .team .team-carousel .slick-dots li button {
          background-image: url("https://64.media.tumblr.com/6bba1985b6a9b25aad12d47c1bae6b60/tumblr_pxpzetVtoe1ys7o03o1_1280.jpg");
          border: 1px solid white;
          border-radius: 100%;
          cursor: pointer;
          height: 0.875rem;
          overflow: hidden;
          padding: 0;
          text-indent: -9999rem;
          -moz-transition: background 300ms;
          -o-transition: background 300ms;
          -webkit-transition: background 300ms;
          transition: background 300ms;
          width: 0.875rem; }
        .team .team-carousel .slick-dots li.slick-active button {
          background: white; }
  .team .team-members {
    margin: 0 auto;
    max-width: 812px; }
    @media (min-width: 768px) {
      .team .team-members {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between; } }
    .team .team-members li {
      margin: 3rem auto;
      width: 14.8125rem; }
      @media (min-width: 768px) {
        .team .team-members li {
          margin: 0; } }
    .team .team-members a {
      color: white;
      text-decoration: none; }
    .team .team-members h3 {
      color: white;
      font-size: 2.5rem;
      font-weight: 700;
      text-decoration: none; }
      .team .team-members h3:after {
        border-bottom: 2px solid white;
        content: '';
        display: block;
        margin: 0.75rem auto 1rem;
        width: 3.4375rem; }
    .team .team-members p {
      color: white;
      font-size: 1.125rem;
      font-weight: 300;
      text-decoration: none; }
    .team .team-members img {
      margin: 0 auto; }

/* ------------------------------------------- */
/* Page Content
/* ------------------------------------------- */
.page {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1150px; }

.page-content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  @media (min-width: 768px) {
    .page-content {
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      justify-content: space-between; } }
  .page-content .graphic {
    padding-bottom: 3rem; }
    @media (min-width: 768px) {
      .page-content .graphic {
        padding-bottom: 0;
        width: 48.69565%; } }
    .page-content .graphic figcaption {
      color: black;
      font-size: 2.5rem;
      font-weight: 700;
      margin: 0 4rem; }
      .page-content .graphic figcaption:before {
        border-bottom: 2px solid black;
        content: '';
        display: block;
        margin-bottom: 2rem;
        margin-top: 3rem;
        width: 3.4375rem; }
  .page-content .text {
    padding-bottom: 3rem; }
    @media (min-width: 768px) {
      .page-content .text {
        padding-bottom: 0;
        width: 42.6087%; } }
    .page-content .text:before {
      border-bottom: 2px solid black;
      content: '';
      display: block;
      margin-bottom: 2rem;
      width: 3.4375rem; }

/* ------------------------------------------- */
/* Stats
/* ------------------------------------------- */
.stats {
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8; }

.stats-listing {
  color: black;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 1.125rem;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 1rem;
  max-width: 1150px;
  margin: 0 auto; }
  .stats-listing li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    width: 50%; }
    @media (min-width: 768px) {
      .stats-listing li {
        width: auto; } }
  .stats-listing .count {
    display: block;
    font-size: 2.5rem;
    font-weight: 700; }
    .stats-listing .count:after {
      border-bottom: 2px solid black;
      content: '';
      display: block;
      margin: 0.75rem auto;
      width: 3.66667rem; }

/* ------------------------------------------- */
/* Instagram
/* ------------------------------------------- */
#instafeed {
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  max-width: 1150px; }
  #instafeed a {
    display: block;
    -webkit-flex: 1;
    flex: 1;
    margin-left: 1rem; }
    #instafeed a:first-child {
      margin-left: 0; }
  #instafeed img {
    display: block; }

.insta-follow {
  margin-top: 2rem;
  text-align: center; }

/* ------------------------------------------- */
/* Callout
/* ------------------------------------------- */
.callout {
  background: black;
  color: white;
  text-align: center; }
  .callout .offer {
    font-size: 1.875rem;
    margin-bottom: 1.875rem; }
    @media (min-width: 768px) {
      .callout .offer {
        display: block;
        margin: 0 auto 1.875rem;
        text-align: center; } }
    @media (min-width: 1024px) {
      .callout .offer {
        display: inline-block;
        margin-bottom: 0; } }
  .callout .price {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 auto;
    vertical-align: middle; }
    @media (min-width: 768px) {
      .callout .price {
        display: inline-block; } }
    @media (min-width: 1024px) {
      .callout .price {
        margin-right: 12.5rem; } }
    .callout .price:before {
      border-bottom: 2px solid white;
      content: '';
      display: block;
      margin: 1rem auto;
      vertical-align: middle;
      width: 3.4375rem; }
      @media (min-width: 768px) {
        .callout .price:before {
          display: inline-block;
          margin: 2.5rem; } }

/* ------------------------------------------- */
/* What's so different?
/* ------------------------------------------- */
.diff.diff {
  margin: 0 auto;
  max-width: 952px;
  padding: 0 1rem; }
  .diff .diff:before {
    border-bottom: 2px solid black;
    content: '';
    display: block;
    magin-top: 3.125rem;
    margin-bottom: 3.125rem;
    width: 3.4375rem; }

/* ------------------------------------------- */
/* Contact
/* ------------------------------------------- */
.contact {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1150px;
  padding: 6.25rem 1rem;
  margin: 0 auto; }

.contact-info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  @media (min-width: 768px) {
    .contact-info {
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      justify-content: space-between; } }
  .contact-info .contact-details {
    margin-bottom: 2.5rem; }
    .contact-info .contact-details a {
      text-decoration: none; }
    @media (min-width: 768px) {
      .contact-info .contact-details {
        margin-bottom: 0;
        width: 48.69565%; } }
  @media (min-width: 768px) {
    .contact-info .contact-form {
      width: 48.69565%; } }

.contact-details i {
  color: black;
  margin-right: 0.75rem; }
.contact-details a i {
  color: white; }
.contact-details p {
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 3rem;
  margin-left: 2.5rem;
  text-indent: -1rem; }

.contact-form p {
  margin-bottom: 1rem; }
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  background: transparent;
  border: 0 none;
  border-bottom: 1px solid #333333;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  padding: 1rem 0;
  width: 100%; }
  .contact-form input[type="text"]:focus,
  .contact-form input[type="email"]:focus,
  .contact-form textarea:focus {
    outline: 0 none;
    border-bottom-color: #F3A358; }
.contact-form textarea {
  height: 6rem;
  line-height: 1.5; }

/* ------------------------------------------- */
/* Social Media
/* ------------------------------------------- */
.social-media {
  margin-bottom: 3rem; }
  .social-media i {
    margin-right: 0; }
  .social-media li {
    display: inline-block;
    margin-right: 0.5rem; }
  .social-media a {
    background: black;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: white;
    display: block;
    height: 1.3rem;
    padding: 0.5rem;
    text-align: center;
    width: 1.3rem;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms; }
    .social-media a:hover {
      background: #F8DB9A; }

/* ------------------------------------------- */
/* Footer
/* ------------------------------------------- */
.site-footer {
  background: black;
  color: white; }
  .site-footer .section-title {
    color: white; }
  .site-footer .copyright {
    background: white;
    color: #656565;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25;
    padding: 2rem;
    text-align: center; }
    .site-footer .copyright p:first-child {
      color: black;
      font-size: 1.125rem;
      font-weight: 700; }
  .site-footer a {
    color: white;
    text-decoration: none;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms; }
    .site-footer a:hover {
      color: #F8DB9A; }

/* ------------------------------------------- */
/* Contact in Footer
/* ------------------------------------------- */
.site-footer .contact-details i {
  color: white; }
.site-footer .contact-form input[type="text"],
.site-footer .contact-form input[type="email"],
.site-footer .contact-form textarea {
  color: white; }
  .site-footer .contact-form input[type="text"]:focus,
  .site-footer .contact-form input[type="email"]:focus,
  .site-footer .contact-form textarea:focus {
    border-bottom-color: white; }

/* ------------------------------------------- */
/* Social Media in Footer
/* ------------------------------------------- */
.site-footer .social-media a {
  background: white;
  color: black; }
  .site-footer .social-media a:hover {
    background: #F8DB9A;
    color: black; }
.site-footer .contact-details .social-media a i {
  color: black; }
